
.navigation {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image {
        width: 25px;
        box-sizing: content-box;

    }

    .nav-exit{

          .image {
            margin: 0;
            padding: 15px;
            opacity: 0.6
        } 
    }

    .nav-actions{
    ul {
        display:flex;
        align-items: center;

        li{
            list-style: none;
        }
    }
        .image {
            margin-top: 14px;
            padding: 14px;
            border-left: 2px solid rgba(0, 0, 0, 0.2);
        }
    }
}