
.search-result {

    margin: 20px 0 30px 0;

    .search-titles{

        h3 {
            text-align: center;
            font-weight: 100;
            font-size: 25px;
            color: rgb(94, 94, 94);
            margin-bottom: 10px;
        }
        h2 {
            margin: 0 15px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 25px;
            color: rgb(94, 94, 94)
        }
    }

    .dropdown-menus{

        display: flex;

        .button {
            margin-top: 25px;
            background-color: white;
            width: 50%;
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2);

            img {
                width: 15px;
                margin-left: 5px;
            }

            &-products {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
            &-sort {
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 13px;

        }
        }
      
    }

    .search-cont{

        margin-top: 30px;
        
        .bathroom-col{
            position: relative;

            .bathroom-img{
                width: 100%;
                height: 140px;
                object-fit: cover;
                display: block;
                margin: 0 auto;
    
            }
    
            .like-icon{
                position: absolute;
                top: 5px;
                right: 15px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: white;
                z-index: 200;

                img{
                    width: 15px;
                    margin-left: 5px;
                }
            }
    
            h4{
                font-family: 'Times New Roman', sans-serif;
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                margin-top: 10px;
                color: rgb(43, 70, 122)
            }
    
            p{
                text-align: center;
                font-size: 13px;
                color: rgb(133, 133, 133)
            }
        }


    }

    .pages{
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 20px 0;

        ul {

            display: flex;
            width: 220px;
            margin: auto;

            li{
                list-style: none;
                margin-right: 20px;

               a {
                   text-decoration: none;
                    color: rgb(151, 151, 151);
               }
                img{            
                    width: 15px;
                }
            }
             li.selected a{
                    color: rgb(0, 0, 0);

                }

        }
    }

}